.profileCardInitAnime {
  max-height: 720px;
  max-width: 480px;
  overflow: hidden;
  /* animations */
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  border-radius: 0.75rem;
  width: 95%;
  height: 90%;
}

.profileCardInitAnime>* {
  opacity: 0;
  animation: initScale01 0.7s 0ms cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}

.profileCardInitAnime> :last-child {
  opacity: 1;
  scale: 1;
  animation: none;
}

.profileCardInitAnime> :last-child>* {
  opacity: 0;
  animation: initScale01 0.7s 0ms cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}


/* .profileCardInitAnime> :nth-child(1) {
  animation: revealItemsAnime 0.7s 0ms ease-in-out forwards;
}

.profileCardInitAnime> :nth-child(2) {
  animation: revealItemsAnime 0.5s 0ms ease-in-out forwards;
}

.profileCardInitAnime> :nth-child(3) {
  animation: revealItemsAnime 0.5s 0ms ease-in-out forwards;
}

.profileCardInitAnime> :nth-child(4) {
  animation: revealItemsAnime 0.5s 0ms ease-in-out forwards;
} */

/* initilize  */
@keyframes init {
  0% {
    border-radius: 100%;
    width: 0px;
    height: 0px;
  }

  100% {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #ff6b6b;
    /* Reddish color sunset-colors */
    /*  */
    position: absolute;
    overflow: hidden;
  }
}

/* muct */
@keyframes moveUpCenterToTop {
  0% {
    position: absolute;
    top: 50%;
  }

  100% {
    position: absolute;
    top: 10%;
  }
}

/* move down to bottom */
@keyframes moveDownTopToBottom {
  0% {
    position: absolute;
    top: 10%;
  }

  100% {
    position: absolute;
    top: 75%;
    background-color: #ffd700;
    /* Golden color  sunrise-colors*/
  }
}

/* Move bottom to top*/
@keyframes moveUpBottomToTop {
  0% {
    position: absolute;
    top: 70%;
  }

  100% {
    position: absolute;
    top: 10%;
    background-color: #5a4b83;
    /* Purplish color moonlight-colors  */
  }
}

/* move down to bottom */
@keyframes moveDownTopToCenter {
  0% {
    position: absolute;
    top: 10%;
    background-color: #5a4b83;
  }

  100% {
    position: absolute;
    top: 41%;
    background-color: #fff;
  }
}

/* Make card */
@keyframes makeCard {
  0% {
    position: relative;
    border-radius: 0.75rem;
    width: 95%;
    height: 90%;
    scale: 0;
  }

  50% {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    border-radius: 0.75rem;
    width: 95%;
    height: 90%;
  }

  100% {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    border-radius: 0.75rem;
    width: 95%;
    height: 90%;
    scale: 1;
  }
}

@keyframes initScale01 {
  0% {
    top: 450px;
    opacity: 0.5;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes revealItemsAnime {
  0% {
    top: 150px;
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}