.profileCardInitAnime {
  max-height: 720px;
  max-width: 460px;
  /* animations */
  animation: init 0.5s 0.5s linear forwards,
    moveUpCenterToTop 0.5s 0.5s linear forwards,
    moveDownTopToBottom 0.5s 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUpBottomToTop 0.5s 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    moveDownTopToCenter 0.5s 2s ease-in-out forwards,
    makeCard 0.5s 2.5s cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
}

.profileCardInitAnime > * {
  opacity: 0;
}

.profileCardInitAnime > :nth-child(1) {
  animation: revealItemsAnime 0.7s 2.5s ease-in-out forwards;
}

.profileCardInitAnime > :nth-child(2) {
  animation: revealItemsAnime 0.5s 2.7s ease-in-out forwards;
}

.profileCardInitAnime > :nth-child(3) {
  animation: revealItemsAnime 0.5s 2.9s ease-in-out forwards;
}

.profileCardInitAnime > :nth-child(4) {
  animation: revealItemsAnime 0.5s 3.1s ease-in-out forwards;
}

/* initilize  */
@keyframes init {
  0% {
    border-radius: 100%;
    width: 0px;
    height: 0px;
  }
  100% {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #ff6b6b;
    /* Reddish color sunset-colors */
    /*  */
    position: absolute;
    overflow: hidden;
  }
}

/* muct */
@keyframes moveUpCenterToTop {
  0% {
    position: absolute;
    top: 50%;
  }

  100% {
    position: absolute;
    top: 10%;
  }
}

/* move down to bottom */
@keyframes moveDownTopToBottom {
  0% {
    position: absolute;
    top: 10%;
  }

  100% {
    position: absolute;
    top: 75%;
    background-color: #ffd700;
    /* Golden color  sunrise-colors*/
  }
}

/* Move bottom to top*/
@keyframes moveUpBottomToTop {
  0% {
    position: absolute;
    top: 70%;
  }

  100% {
    position: absolute;
    top: 10%;
    background-color: #5a4b83;
    /* Purplish color moonlight-colors  */
  }
}

/* move down to bottom */
@keyframes moveDownTopToCenter {
  0% {
    position: absolute;
    top: 10%;
    background-color: #5a4b83;
  }

  100% {
    position: absolute;
    top: 41%;
    background-color: #fff;
  }
}

/* Make card */
@keyframes makeCard {
  0% {
    position: relative;
    border-radius: 0.75rem;
    width: 90%;
    height: 80%;
    scale: 0;
  }

  50% {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    border-radius: 0.75rem;
    width: 90%;
    height: 80%;
  }

  100% {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    border-radius: 0.75rem;
    width: 90%;
    height: 80%;
    scale: 1;
  }
}

@keyframes initScale01 {
  0% {
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes revealItemsAnime {
  0% {
    top: 150px;
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
