/* LOGO */

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  opacity: 0.7;
  color: inherit;
  font-weight: bold;
  z-index: 102;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

body[data-theme="light"] .logo {
  font-weight: bold;
}

body[data-theme="light"] .logo {
  filter: brightness(0.8);
}
