/* LOGO */

.logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  opacity: 0.7;
  color: inherit;
  font-weight: bold;
  z-index: 102;
}

body[data-theme="light"] .logo {
  font-weight: bold;
}

body.menu-expanded .logo {
  opacity: 1;
}

body[data-theme="light"] .logo {
  filter: brightness(0.8);
}
