.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  color: inherit;
}

.menu ul.navLinks,
.menu ul.navLinks li.navLink {
  color: inherit;
}

.menu ul.navLinks:nth-child(1) {
  display: flex;
  gap: 1rem;
}

.menu ul.navLinks:nth-child(1) li.navLink {
  width: 8.4rem;
  color: inherit;
}

.menu ul.navLinks:nth-child(1) li.navLink:nth-child(3) {
  width: 16rem;
}

.menu ul.navLinks:nth-child(1) li.navLink:nth-child(4) {
  width: 12rem;
}

.menu ul.navLinks li.navLink a {
  opacity: 0.7;
  height: 100%;
  transition: opacity 0.4s;
  color: inherit;
  letter-spacing: 0.5px;
}

.menu ul.navLinks:nth-child(1) li.navLink a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: currentColor;
  display: block;
  position: relative;
  bottom: -2rem;
  left: -0.5rem;
  transition: width 0.2s;
}

.menu ul.navLinks li.navLink a:hover,
.menu ul.navLinks li.navLink a:active {
  opacity: 1;
  font-weight: 600;
  letter-spacing: 0px;
}

.menu ul.navLinks li.navLink a:hover::after,
.menu ul.navLinks li.navLink a.active::after {
  padding-inline: 0.8rem;
  width: 100%;
}

.closeMenu,
.openMenu {
  display: none;
  color: inherit;
  z-index: 102;
  border: none;
  background: none;
  cursor: pointer;
}

.closeMenu svg,
.openMenu svg {
  transform: scale(1.4);
}


.closeMenu svg path,
.openMenu svg path {
  stroke: currentColor;
}

@media (min-width: 1240px) {
  .menu ul.navLinks:nth-child(1) li.navLink a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: currentColor;
    display: block;
    position: relative;
    bottom: -2rem;
    left: -0.5rem;
    transition: width 0.2s;
  }

  .menu ul.navLinks:nth-child(1) li.navLink a:hover::after,
  .menu ul.navLinks:nth-child(1) li.navLink a.active::after {
    padding-inline: 0.8rem;
    width: 100%;
  }
}

.menu.expanded {
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1rem);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  padding-bottom: var(--nav-height);
  transition: transform 300ms;
  transform: translateX(0);
  z-index: 101;
  opacity: 1;
  visibility: visible;
  color: var(--nav-color-extended);
}

.menu.expanded ~ .openMenu {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.menu.expanded ~ .closeMenu {
  opacity: 1;
  display: inline;
  visibility: visible;
}

@media (max-width: 1024px) {
  .openMenu {
    display: inline;
  }

  .menu {
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }

  .menu ul.navLinks {
    width: 100%;
  }

  .menu ul.navLinks li {
    width: 100% !important;
    cursor: pointer;
  }

  .menu ul.navLinks:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 8rem 0 10rem 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.1rem;
  }
}
