@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css old keeping for @keyframes [ remove after storing @keyframes at another place */
/* @import "./cssroot.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--bg-color);
  background-image: url("5509862.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body:before {
  content: "";
  height: 0px;
  padding: 0px;
  border: 110em solid var(--init-banner-color);
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 0;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    borderRadius 0.2s 2.3s linear forwards;
}

@keyframes puff {
  0% {
    top: 100%;
    width: 0px;
    padding-bottom: 0px;
  }
  100% {
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    border: 0em solid var(--init-banner-color);
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--paragraph);
}

@media (min-width: 1024px) {
}

@media (max-width: 500px) {
}

@media (max-width: 320px) {
}

@media (max-width: 250px) {
} */