/*===== CONTACT ===============================================*/

.contact {
  text-align: left;
  background-color: var(--secundary-color);
}

.contact .colA {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;
}

.contact .colA .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact header {
  margin-bottom: 3.2rem;
}

.contact ul {
  margin-bottom: 2rem;
}

.contact ul a {
  width: fit-content;

  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
  border-radius: 0.8rem;

  transition: 300ms;
}

.contact ul a {
  color: var(--paragraph);
}

.contact ul a:hover {
  background: var(--third-color);
}

.contact a path {
  transition: 400ms;
}

.contact a.button path {
  fill: var(--primary-color);
}

.contact a.button:hover path {
  fill: #fff;
}

.contact ul li:nth-child(2) a img {
  rotate: -15deg;
}

.contact ul li:nth-child(2) a path {
  stroke: none;
}

.contact .colB {
  height: 38rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact .colB img {
  width: 13rem;
  animation: flutuar 2.5s infinite backwards;
  filter: brightness(1.2);
}

@keyframes flutuar {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

.contact .colB::after {
  content: "";
  display: block;

  width: 13rem;
  height: 5rem;

  background-color: black;
  border-radius: 100%;
}

body[data-theme="light"] .contact .colB::after {
  background-color: grey;
}

@media (min-width: 1024px) {
  .contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: "A B";
  }

  .contact .colA {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 0;
  }

  .contact .colA .content {
    align-items: flex-start;
  }

  .contact .colB {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .contact ul a {
    font-size: 1.3rem;
  }

  .contact .colB img {
    width: 10rem;
  }

  .contact .colB::after {
    width: 10rem;
    height: 3rem;
  }
}

@media (max-width: 250px) {
  .contact ul a {
    font-size: 1.1rem;
  }

  .contact svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .contact .colB img {
    width: 9rem;
  }

  .contact .colB::after {
    width: 9rem;
    height: 2rem;
  }
}
