/*=========================== NAVIGATION ===================================*/

.nav {
  width: 100vw;
  height: var(--nav-height);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  color: var(--primary-color);
  transition: background 350ms, color 350ms;
}

.nav .wrapper {
  width: min(112rem, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  visibility: initial;
  opacity: initial;
  flex-direction: initial;
  position: initial;
  font-size: initial;
  transform: initial;
  background-color: initial;
  font-weight: initial;
  filter: initial;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.nav.scroll {
  background: var(--nav-bg-scroll);
  color: var(--nav-color-scroll);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}



@media (max-width: 1024px) {

  .nav.scroll[data-menu-extended="true"] {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .nav[data-menu-extended="true"] {
    color: #fff;
  }

}