/*===== footer ===============================================*/

.footer {
  background-color: var(--secundary-color);
  text-align: left;
  color: var(--paragraph);
  margin-bottom: 2rem;
}

.footer .wrapper {
  padding-block: 6rem;
  border-top: 0.1rem solid var(--paragraph);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
  opacity: 0.6;
}

.footer a img:nth-child(2),
body[data-theme="light"] .footer a img:nth-child(1) {
  display: none;
}

body[data-theme="light"] .footer a img:nth-child(2) {
  display: initial;
}

.footer p {
  line-height: 2;

  margin-bottom: 3.2rem;
}

.footer .colB ul {
  justify-content: flex-start;
}

.footer .colB ul li:nth-child(1) svg path {
  stroke: var(--paragraph-2);
}

.footer .colB ul li:nth-child(2) svg path:nth-child(2),
.footer .colB ul li:nth-child(3) svg path:nth-child(2),
.footer .colB ul li:nth-child(4) svg path:nth-child(2) {
  fill: var(--paragraph-2);
}

@media (min-width: 1024px) {
  .footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B";
  }

  .footer .colA {
    align-self: center;
  }

  .footer .colB {
    align-self: center;
  }

  .footer p {
    margin-bottom: 0;
  }

  .footer .colB ul {
    justify-content: flex-end;
  }
}

@media (max-width: 500px) {
  .footer p {
    font-size: 1.3rem;
  }

  .footer svg {
    width: 2rem;
    height: 2rem;
  }

  .footer .colB ul li:nth-child(2) svg {
    width: 2.3rem;
    height: 2.3rem;
  }
}

@media (max-width: 250px) {
  .footer p {
    font-size: 1.1rem;
  }

  .footer a.logo {
    font-size: 2.5rem;
  }
}
