.card {
  padding: 2.8rem;
  text-align: left;

  background: var(--secundary-color);

  border-radius: 0.6rem;
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.267);

  transition: 400ms;
}

.card:hover {
  background: var(--third-color);
}

.card h3 {
  margin-block: 1.6rem;
}

.card img {
  width: 10rem;
}

@media (min-width: 1024px) {
  .card {
    width: 30%;
    flex-grow: 1;
  }
}
