.profileCardInitAnime {
  /* animations */
  animation: init 0.8s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveUpCenterToTop 0.7s 0s ease-in-out forwards,
    moveDownTopToBottom 0.7s 1.2s cubic-bezier(0.6, -0.28, 0.735, 0.045)
      forwards,
    moveUpBottomToTop 0.7s 1.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    moveDownTopToCenter 0.5s 2.6s ease-in-out forwards,
    makeCard 0.5s 3.1s cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
}

.profileCardInitAnime > :nth-child(1) {
  opacity: 0;
  animation: opacity1 0.5s 3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

.profileCardInitAnime > :nth-child(2) {
  opacity: 0;
  animation: opacity1 0.7s 3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

.profileCardInitAnime > :nth-child(3) {
  opacity: 0;
  animation: moveLeft 1s 3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

.profileCardInitAnime > :nth-child(4) {
  opacity: 0;
  animation: moveRight 1s 3s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
}

/* initilize  */
@keyframes init {
  0% {
    border-radius: 100%;
    width: 0px;
    height: 0px;
  }

  100% {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #ff6b6b;
    /* Reddish color sunset-colors */
    /*  */
    position: absolute;
    overflow: hidden;
  }
}

/* muct */
@keyframes moveUpCenterToTop {
  0% {
    position: absolute;
    top: 50%;
  }

  100% {
    position: absolute;
    top: 10%;
  }
}

/* move down to bottom */
@keyframes moveDownTopToBottom {
  0% {
    position: absolute;
    top: 10%;
  }

  100% {
    position: absolute;
    top: 75%;
    background-color: #ffd700;
    /* Golden color  sunrise-colors*/
  }
}

/* Move bottom to top*/
@keyframes moveUpBottomToTop {
  0% {
    position: absolute;
    top: 70%;
  }

  100% {
    position: absolute;
    top: 10%;
    background-color: #5a4b83;
    /* Purplish color moonlight-colors  */
  }
}

/* move down to bottom */
@keyframes moveDownTopToCenter {
  0% {
    position: absolute;
    top: 10%;
    background-color: #5a4b83;
  }

  100% {
    position: absolute;
    top: 41%;
    background-color: #fff;
  }
}

/* Make card */
@keyframes makeCard {
  0% {
    position: relative;
    border-radius: 0.75rem;
    /* 12px */
  }

  50% {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    border-radius: 0.75rem;
    /* 12px */
    width: 51.666667%;
    height: 780px;
    max-height: 80vh;
  }

  100% {
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    width: 91.666667%;
    height: auto;
    border-radius: 0.75rem;
    /* 12px */
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    margin-left: 50px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    margin-right: 50px;
  }

  100% {
    opacity: 1;
    margin-right: 0px;
  }
}

@keyframes initScale01 {
  0% {
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  @keyframes movieLeft {
    0% {
      opacity: 0;
      margin-left: 10px;
    }

    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }

  @keyframes movieRight {
    0% {
      opacity: 0;
      margin-right: 10px;
    }

    100% {
      opacity: 1;
    }
  }
}

/* sm mobiles */
@media screen and (max-height: 670px) and (max-width: 380px) {
  /* Make card */
  @keyframes makeCard {
    0% {
      position: relative;
      border-radius: 0.75rem;
      /* 12px */
    }

    50% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      border-radius: 0.75rem;
      /* 12px */
      width: 336px;
      height: 582px;
      max-height: 90vh;
    }

    100% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      width: 91.666667%;
      height: auto;
      border-radius: 0.75rem;
      /* 12px */
    }
  }
}

/* mobiles */
@media screen and (max-height: 916px) and (max-width: 420px) {
  /* Make card */
  @keyframes makeCard {
    0% {
      position: relative;
      border-radius: 0.75rem;
      /* 12px */
    }

    50% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      border-radius: 0.75rem;
      /* 12px */
      width: 375px;
      height: 582px;
      max-height: 80vh;
    }

    100% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      width: 91.666667%;
      height: auto;
      border-radius: 0.75rem;
      /* 12px */
    }
  }
}

/* tablets */
@media screen and (max-height: 1400px) and (max-width: 950px) {
  /* Make card */
  @keyframes makeCard {
    0% {
      position: relative;
      border-radius: 0.75rem;
      /* 12px */
    }

    50% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      border-radius: 0.75rem;
      /* 12px */
      width: 675px;
      height: 490px;
      max-height: 80vh;
    }

    100% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      width: 91.666667%;
      height: auto;
      border-radius: 0.75rem;
      /* 12px */
    }
  }
}

/* split screen tablets */
@media screen and (max-height: 730px) and (max-width: 560px) {
  /* Make card */
  @keyframes makeCard {
    0% {
      position: relative;
      border-radius: 0.75rem;
      /* 12px */
    }

    50% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      border-radius: 0.75rem;
      /* 12px */
      width: 450px;
      height: 550px;
      max-height: 80vh;
    }

    100% {
      background-color: rgb(248 250 252 / var(--tw-bg-opacity));
      width: 91.666667%;
      height: auto;
      border-radius: 0.75rem;
      /* 12px */
    }
  }
}
