.profileCardPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.profileCardModal {
    height: 80vh;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}