.profileCardPage {
  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  /*  */
  height: 100%;
  width: 100%;
}

.profileCardModal {
  /*  */
  position: absolute;
  max-width: 720px;
  max-height: 480px;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  /* animations */
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 0.8fr;
  grid-template-areas:
    "gridItem1"
    "gridItem2"
    "gridItem3"
    "gridItem4"
    "gridItem5";
  /* grid-column-gap: 0px; */
  grid-row-gap: 5px;
  width: 100%;
  height: 100%;
}

.profile>div {
  /*  */
  padding: 5px;
  /*  */
  margin-top: 0px;
  opacity: 0;
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.gridItem1 {
  grid-area: gridItem1;
  width: 100%;
  height: 100%;

  /* flex */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: space-around;
  flex-wrap: wrap;

  /* anime */
  animation: moveIn 1s 3.1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.owner {
  display: flex;
  margin-left: 10px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.gridItem2 {
  grid-area: gridItem2;
  width: 100%;
  height: 100%;
  background-color: bisque;

  /* anime */
  animation: moveIn 1s 3.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.gridItem3 {
  grid-area: gridItem3;
  width: 100%;
  height: 100%;
  background-color: black;
  /* anime */
  animation: moveIn 1s 3.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.gridItem4 {
  grid-area: gridItem4;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  /* anime */
  animation: moveIn 1s 3.4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.gridItem5 {
  grid-area: gridItem5;
  width: 100%;
  height: 100%;
  /* flex */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  /* anime */
  animation: moveIn 1s 3.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

/* initilize the alien logo  */
@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }

  100% {
    width: 75px;
    height: 75px;
    margin-top: 0px;
    opacity: 1;
    background-image: url("/assets/images/site/android-chrome-512x512.png");
    background-size: cover;
  }
}

/* move the alien logo to down */
@keyframes moveDown {
  0% {
    top: 50%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 100%;
  }
}

/* Remove alien logo and then it looks like a round ball and 
move it up */
@keyframes moveUp {
  0% {
    background-image: url("/assets/images/site/android-chrome-512x512.png");
    background-size: cover;
    top: 100%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 50%;
    background: #e0e0e0;
  }
}

/* This thing pops up the profile card and 
it needs to be responsive to screen size */
/* Default animation for larger screens */
@keyframes materia {
  0% {
    background: #e0e0e0;
  }

  50% {
    border-radius: 4px;
  }

  100% {
    width: 80%;
    /* Set width to 80% of the viewport width */
    height: 70%;
    /* Set height to 70% of the viewport height */
    background: #ffffff;
    border-radius: 10px;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  @keyframes materia {
    0% {
      background: #e0e0e0;
    }

    50% {
      border-radius: 4px;
      /* Adjust the border-radius for smaller screens */
    }

    100% {
      width: 80%;
      /* Set width to 80% of the viewport width */
      height: 70%;
      /* Set height to 70% of the viewport height */
      background: #ffffff;
      border-radius: 10px;
      /* Adjust the border-radius for smaller screens */
    }
  }
}

/* Media query for very small screens */
@media (max-width: 480px) {
  @keyframes materia {
    0% {
      background: #e0e0e0;
    }

    50% {
      border-radius: 4px;
      /* Further adjust the border-radius for very small screens */
    }

    100% {
      width: 80%;
      /* Set width to 80% of the viewport width */
      height: 70%;
      /* Set height to 70% of the viewport height */
      background: #ffffff;
      border-radius: 10px;
      /* Further adjust the border-radius for very small screens */
    }
  }
}

/* Media query for screens larger than 1280px */
@media (min-width: 1280px) {
  @keyframes materia {
    0% {
      background: #e0e0e0;
    }

    50% {
      border-radius: 4px;
      /* Adjust the border-radius for larger screens */
    }

    100% {
      width: 80%;
      /* Set width to 80% of the viewport width */
      height: 70%;
      /* Set height to 70% of the viewport height */
      background: #ffffff;
      border-radius: 10px;
      /* Adjust the border-radius for larger screens */
    }
  }
}